@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 320px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 320px),
only screen and (                min-resolution: 192dpi) and (min-width: 320px),
only screen and (                min-resolution: 2dppx)  and (min-width: 320px){
  
  .name{
    font-size:125%;
  }
  .job-title{
    font-size:100%;
  }
  .tagline{
  font-size:100%;
  }

  .hero-image{
    height:200px;
  }

  .btn-group-sm>.btn, .btn-sm {
    padding: 2px 95px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
.project-stuff{
  position: relative;
  top:188px;
  height: 190px;

}
.project-title{
  margin-top: 10px;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.4px;
}
.project-about{
  margin-top: 10px;
  margin-right: 20px;
  margin-left: 20px;

  font-size: 12px;
  
  line-height: 20px;

}
.see-more{
  top:-20px;
  margin-left: 25px;
}
.see-more .btn{
  font-size:11px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 4px 75px;

}
.actual-image{
  height: 150px;
  width: auto;
  margin-top: 20px;
 
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row-image{
  text-align: center;
}

}


} 

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 375px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (                min-resolution: 192dpi) and (min-width: 375px),
only screen and (                min-resolution: 2dppx)  and (min-width: 375px){
  
  .name{
    font-size:125%;
  }
  .job-title{
    font-size:100%;
  }
  .tagline{
  font-size:100%;
  }

  .hero-image{
    height:200px;
  }

  .btn-group-sm>.btn, .btn-sm {
    padding: 2px 95px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
.project-stuff{
  position: relative;
  top:188px;
  height: 190px;

}
.project-title{
  margin-top: 20px;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.4px;
}
.project-about{
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;

  font-size: 12px;
  
  line-height: 20px;

}
.see-more{
  top:-10px;
  margin-left: 25px;
}
.see-more .btn{
  font-size:11px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 4px 75px;

}
.actual-image{
  height: 130px;
  width: auto;
  margin-top: 30px;
 
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row-image{
  text-align: center;
}

}


} 

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 425px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (                min-resolution: 192dpi) and (min-width: 425px),
only screen and (                min-resolution: 2dppx)  and (min-width: 425px){
  .name{
   font-size:150%;
  }
  .job-title{
    font-size:125%;
  }
  .tagline{
  font-size:85%;
} 
  .hero-image{
    height:200px;
  }
  .navbar{
  margin-bottom: 0px;
  min-height: 40px;
}
 .btn-group-sm>.btn, .btn-sm {
    padding: 2px 75px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
.project-stuff{
  position: relative;
  top:188px;
  height: 200px;

}
.project-title{
  margin-top: 20px;
  text-align: center;
  font-size:14px;
  letter-spacing: 0.54px;
}
.project-about{
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 20px;

  font-size: 12px;
  
  line-height: 30px;

}
.see-more{
  top:-15px;
  margin-left: 25px;
}
.see-more .btn{
  font-size:12px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 5px 75px;

}
.actual-image{
  height: 150px;
  width: auto;
  margin-top: 20px;
 
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}
.row-image{
  text-align: center;
}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px){
  
  .hero{
    position:relative;
    top:-10px;
  }
  .hero-content{
    position:relative;
    top:20px;
  }
  .logo-image{
    top:20px;
    left: 30px;
    max-height: 30px;
  }
  .navbar-right{
    margin-right: 10px;
  }
  .name{
   font-size: 175%;
  }
  .job-title{
    font-size:125%;
  }
  .tagline{
  font-size:100%;
} 
 .hero-image{
    height:235px;
  }
  
  .navbar{
  margin-bottom: 0px;
  min-height: 60px;
}
.header-items{
  float: right;
  right:20px;
  margin-top: 10px;
}
 .btn-group-sm>.btn, .btn-sm {
    padding: 5px 90px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}

.project-stuff{
  position: relative;
  top:-15px;
  height: 300px;

}
.project-title{
  margin-top: 45px;
  margin-left: 20px;
  font-size:14px;
  letter-spacing: 0.54px;
}
.project-about{
  margin-top: 0px;
  margin-right: 20px;
  margin-left: 80px;

  font-size: 13px;
  
  line-height: 30px;

}
.see-more{
  top:-15px;
  margin-left: 25px;
}
.see-more .btn{
  font-size:14px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 5px 75px;

}
.actual-image{
  height: 200px;
  width: auto;
  margin-top: 70px;
  margin-right: 60px;
  padding-left: 50px;
  padding-right: 10px;
}
.container-fluid{
  padding-left: 0px;
  padding-right: 0px;
}
.row {
    margin-right: 0px;
    margin-left: 0px;
}






}  


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
  .hero-content{
  margin-top: 40px;
  position: absolute;
  z-index: 4;
  left:400px;
}
  .name{
    font-size:200%;
    
  }
  .job-title{
    font-size:150%;
  }
  .tagline{
    font-size:100%;
  } 
  .hero-image{
    height:300px;
  }
   .navbar{
  margin-bottom: 0px;
  min-height: 50px;
}
.header-items{
  float: right;
  right:30px;
  margin-top: 10px;

}
.navbar-right {
    margin-right: 130px;
}
.hero {
    position: relative;
    top: 10px;
}

 .btn-group-sm>.btn, .btn-sm {
    padding: 5px 85px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
.navbar-default .navbar-nav>li>a {
    color: #000;
    font-size: 16px;
}
.logo-image {
    top: 20px;
    left: 130px;
    max-height: 30px;
}

.dropdown-menu>li>a {
    display: block;
    padding: 10px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.42857143;
    color: #FFF;
    font-size:16px;

}
.navbar-right .dropdown-menu {
    right: 0;
    left: auto;
    background-color: black;
    position: relative;
    z-index: 5;
    
}
.project-stuff{
  position: relative;
  margin-top: 10px;
  height: 350px;

}
.project-title{
  margin-top: 65px;
  margin-left: 25px;
  font-size:16px;
  letter-spacing: 0.54px;
}
.project-about{
  margin-top: 20px;
  margin-right: 0px;
  margin-left: 120px;

  font-size: 14px;
  
  line-height: 35px;

}
.see-more{
  
  margin-left: 25px;
}
.see-more .btn{
  font-size:16px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 5px 98px;
}
.actual-image{
  height: 250px;
  width: auto;
  margin-top: 50px;
  margin-right: 10px;
  padding-left: 10px;
  padding-right: 10px;
}


}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1440px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){
  .hero-content{
  margin-top: 20px;
  margin-top: 40px;
    position: absolute;
    z-index: 4;
    left: 600px;

}
  .name{
   font-size:225%;
  }
  .job-title{
    font-size:175%;
    margin-top: -10px;
  }
  .tagline{
  font-size:120%;
} 
.hero .tagline2{
  margin-top: 10px;
}
.nav-item{
  font-size: 16px;
}
.hero-image{
    height:400px;
  }
  .hero-text{
    margin-top: 20px;
  }
   .btn-group-sm>.btn, .btn-sm {
    padding: 5px 105px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 30px;
}

.actual-image {
    height: 300px;
    width: auto;
    margin-top: 50px;
    margin-right: 0px;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 20px;
}
.project-title{
  margin-top: 60px;
  margin-left: 40px;
  font-size:24px;
  letter-spacing: 0.54px;
}
.project-about{
  margin-top: 30px;
  margin-right: 50px;
  margin-left: 140px;

  font-size: 16px;
  
  line-height: 40px;

}

.see-more{
  
  margin-left: 10px;
}
.see-more .btn{
  font-size:20px;
  color:#FFF;
  letter-spacing: 0.41px;
  padding: 5px 180px;
}
.project-image{
  min-height: 400px;


}
.project-text{
  min-height: 400px;
}


  }