@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 375px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 375px),
only screen and (                min-resolution: 192dpi) and (min-width: 375px),
only screen and (                min-resolution: 2dppx)  and (min-width: 375px){
  
  .name{
    font-size:125%;
  }
  .job-title{
    font-size:100%;
  }
  .tagline{
  font-size:100%;
  }

  .hero-image{
    height:200px;
  }

  .btn-group-sm>.btn, .btn-sm {
    padding: 2px 95px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}


} 

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 425px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 425px),
only screen and (                min-resolution: 192dpi) and (min-width: 425px),
only screen and (                min-resolution: 2dppx)  and (min-width: 425px){
  .name{
   font-size:150%;
  }
  .job-title{
    font-size:125%;
  }
  .tagline{
  font-size:85%;
} 
  .hero-image{
    height:200px;
  }
  .navbar{
  margin-bottom: 0px;
  min-height: 40px;
}
 .btn-group-sm>.btn, .btn-sm {
    padding: 2px 75px;
    font-size: 11px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}

}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 768px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 768px),
only screen and (                min-resolution: 192dpi) and (min-width: 768px),
only screen and (                min-resolution: 2dppx)  and (min-width: 768px){
  
  .hero{
    position:relative;
    top:-10px;
  }
  .hero-content{
    position:relative;
    top:20px;
  }
  .logo-image{
    top:20px;
    left: 30px;
    max-height: 30px;
  }
  .navbar-right{
    margin-right: 10px;
  }
  .name{
   font-size: 175%;
  }
  .job-title{
    font-size:125%;
  }
  .tagline{
  font-size:100%;
} 
 .hero-image{
    height:235px;
  }
  .header-items{
  right: 50px;
}
  .navbar{
  margin-bottom: 0px;
  min-height: 60px;
}
.header-items{
  float: right;
  right:20px;
}
 .btn-group-sm>.btn, .btn-sm {
    padding: 5px 90px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}



}  


@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1024px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1024px),
only screen and (                min-resolution: 192dpi) and (min-width: 1024px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1024px){
  .hero-content{
  margin-top: 40px;
}
  .name{
    font-size:200%;
  }
  .job-title{
    font-size:150%;
  }
  .tagline{
    font-size:100%;
  } 
  .hero-image{
    height:300px;
  }
   .navbar{
  margin-bottom: 0px;
  min-height: 50px;
}
 .btn-group-sm>.btn, .btn-sm {
    padding: 5px 85px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 20px;
}
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (   min--moz-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (     -o-min-device-pixel-ratio: 2/1)    and (min-width: 1440px),
only screen and (        min-device-pixel-ratio: 2)      and (min-width: 1440px),
only screen and (                min-resolution: 192dpi) and (min-width: 1440px),
only screen and (                min-resolution: 2dppx)  and (min-width: 1440px){
  .hero-content{
  margin-top: 20px;

}
  .name{
   font-size:225%;
  }
  .job-title{
    font-size:175%;
  }
  .tagline{
  font-size:120%;
} 
.hero .tagline2{
  margin-top: 10px;
}
.nav-item{
  font-size: 16px;
}
.hero-image{
    height:400px;
  }
  .hero-text{
    margin-top: 40px;
  }
   .btn-group-sm>.btn, .btn-sm {
    padding: 5px 105px;
    font-size: 16px;
    line-height: 1.5;
    border-radius: 100px;
    position: relative;
    top: 30px;
}
  }