.navbar{
  margin-bottom: 0px;
  border:none;
  margin-right: 0px;
}
.nav-item{

font-family: Cabin-Regular;
font-size: 14px;
color: #000000;
letter-spacing: 0.32px;
}
.navbar-right{
  margin-right: 10px;
}
.logo{
  position: absolute;
  height: 50px;
  width: auto;
  
}
.logo>a>img{
  height: 30px;
  width: auto;
  
  margin: 10px 0px 10px 10px;

}

.navbar-nav{
  margin-top: 50px;
  font-family: cabin;

}


.hero{
  width: 100%;
  position: relative;
  height: 200px;
  background-image: url(../images/heroimage.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding:0px 0px;
  z-index: 1;
}
.hero-stuff{
  
  width: 100%;
  height: 150px;
  position: absolute;
  text-align: center;
  top:30px;

}
.name{
text-align: center;
font-family: Raleway-SemiBold;
font-size: 18px;
color: #D1D1D1;
letter-spacing: 0.81px;
}
.designation{
margin-top: 10px;  
text-align: center;
font-family: Raleway-Medium;
font-size: 16px;
color: #00ACF0;
letter-spacing: 0.54px;
}

.tagline{
  margin-top: 10px;
  text-align: center;
font-family: Cabin-Regular;
font-size: 13px;
color: #E2E2E2;
line-height: 10px;
}
.getintouch{
  text-align: center;
  margin-top: 20px; 
}
.getintouch-button{
padding:5px 50px;
background: #F3EFEB;
border-radius: 100px;
border:none;
font-family: Cabin-Bold;
font-size: 13px;
color: #85847A;
letter-spacing: 0.41px;
}
.project{
  position: relative;
  width:100%;
  height: 360px;
  margin: 0px 0px;
  
 /* background-color: silver;*/
  font-family: cabin;
}
.image{

  /*background-color: red;*/
  text-align: center;
  height: 180px;
  padding-top:20px;


}

.image>img{
  height: 150px;
  width: auto;

}
  
.text{
  padding-top:10px;
 /* background-color: blue;*/
  height:180px;
  text-align: center;
}
.title{
  font-size: 16px;
   /* Little hope: */
  font-family: Raleway-Bold;

  color: #4A4A4A;
  letter-spacing: 0.54px;

}

.para>p{
  
  line-height: 27px;
  font-size:13px;
  padding-left: 15px;
  padding-right: 15px;
  font-family: Cabin-Regular;
  
  color: #000000;
 }
 .see-more{
  background-color: #FFF;
  text-align: center;
}
.see-more-button{
  
background: #006A94;
border-radius: 100px;
padding:5px 30px;
font-family: Cabin;
font-size: 13px;
color: #F5F5F5;
letter-spacing: 0.41px;
border:none;
}
.lets-talk{
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 100px;
  background-color: #F2F2F2;
  padding-left: 0px;
  padding-right: 0px;
}
.talk-title{
  position: absolute;
  width: 100%;
  padding-left: 0px;
  padding-right: 0px;
  font-family: Cabin;
  text-align: center;
  margin-top: 20px;
  font-size: 16px;

}

.contact-me{

  padding: 0px 0px;
  margin-top: 50px;
  text-align: center;
  position: absolute;
  background-color: #F2F2F2;
}
.icons{
  text-align: center;
  
  
  height:40px;
  padding-top: 10px;
  padding-bottom: 10px;

}
.copyright{
  
  text-align: center;
  
  font-family: cabin;
  height: 40px;
  


}
.footer{

    margin-top: 0px;
    height: 80px;
    width: 100%;
    padding: 0px 0px;
}

.social-icon{
  
  height: 16px;
  width: auto;
  margin-right: 10px;
}
.footer .row{
  margin:20px 0px;
  height: 80px;
}

.row{
  margin-left: 0px;
  margin-right: 0px;
}

.about-hero{
  background-image:url("../images/harsha-photo.png");
}

.about-para{

font-family: Cabin-Regular;
font-size: 13px;
color: #000000;
line-height: 25px;
}
.about-text{
  position: relative;
  
  margin-top: 20px;
}


  


