.row{
  padding-left: 0px;
  padding-right: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.logo{
  position:relative;
  float:left;
  top:10px;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
    background-color: #fff;
}
.navbar-default .navbar-toggle {
    border-color: transparent;
}    

.navbar-toggle {
    position: relative;
    float: right;
    padding: 0px 0px;
    margin-top: 14px;
    margin-right: 15px;
    margin-bottom: 0px;
    background-color: #FFF;
    background-image: none;
    border: 0px solid #FFF;
    border-radius: 4px;
    }
  .navbar{
    margin-bottom:0px;
    min-height: 40px;
  }

.navbar-default .navbar-toggle .icon-bar {
  background-color: #333;
  width:25px;
}

.navbar-default {
    background-color: #FFF;
    border-color: transparent;
}

.navbar-default .navbar-nav>li>a {
    color: #000;
    float: right;
    font-family: cabin;
    width: 100%;
    display: block;
    background-color: #FFF;

}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: #FFF;
    background-color: #000;
    display: block;
}

.navbar-default .navbar-collapse .nav>.open>a, .navbar-default .navbar-collapse .nav>.open>a:focus, .navbar-default .navbar-collapse .nav >.open>a:hover {
    color: #FFF;
    background-color: #000;
    display: block;
}
.navbar-default .navbar-collapse .nav .nav-item>a, .navbar-default .navbar-collapse .nav .nav-item>a:focus, .navbar-default .navbar-collapse .nav .nav-item>a:hover {
    color: #FFF;
    background-color: #000;
    display: block;

}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
    color: #FFF;
    font-family: cabin;
    background-color: #000;

  }

.navbar-default .navbar-nav .open .dropdown-menu{
  background-color: #000;
}
.navbar-collapse{
  position: absolute;
  z-index:10;
  
}


.hero-text{
  text-align: center;
}
.getintouch{
  text-align: center;
  font-family: cabin;
}

.name{
  color: #D1D1D1;
  font-family: raleway;
}
.job-title{
  color: #00ACF0;
  font-family: cabin;

}
.tagline{
  color:#E2E2E2;
  font-family: cabin;
}

.hero{
  background-image:url('../images/heroimage.png');;
    background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  
  width:100%;
  position: absolute;
  z-index:1;
}
.hero-stuff{
  position: relative;
}

.btn-group-sm>.btn, .btn-sm {
  background-color: #F3EFEB;
  color: #85847A;
  border-color: transparent;
  border-radius: 23px;
  line-height: 1.5;

}


.project{
  position: relative;

}
.project-text{
  background-color: #FFF;

  

}
.project-image{
  background-color: #FFF;
  text-align: center;


}
.project-title{
  text-align: center;
  font-family: Raleway-Bold;
   color: #4A4A4A;
}

.project-about{
   font-family: Cabin-Regular;
    color: #000000;

}

.see-more{
  text-align: center;
  }

.see-more .btn{
  background-color: #006A94;
  font-family: Cabin-Bold;
  color:#FFF;
  text-align: center;
 }

.project-image .row{
  text-align: center;
  

}

.nomnom-project .project-image{
  background-color: #F2F2F2;
}
.nomnom-project .project-text{
  background-color: #F2F2F2;
}

.actual-image{
  text-align: center;
  width:auto;
}

.project-text{
  text-align: left;
   
}

.talk-title{
  text-align: center;
  /* Let’s talk: */
  font-family: Raleway-SemiBold;
  
  color: #000000;
  letter-spacing: 0.81px;
  }

  .contact-me{
    text-align: center;
  }

  .lets-talk{
    position: relative;
    
    background: #F2F2F2;
    
  }

  .contact-me .btn{
  
/* Rectangle 3: */
background: #006A94;
border-radius: 100px;
/* Contact me: */
font-family: Cabin;

color: #F5F5F5;
letter-spacing: 0.41px;}


.icons{
  text-align: center;.
}

.copyright{
  text-align: center;
  font-family: cabin;
}
.social-icon{
  width:auto;
}
.footer{
  position: relative;
}

.full-form{
  position: relative;
  width: 100%;
}
.form-box{
      border: none;
      border-bottom: 1px solid #979797;
      border-radius: 0px;
      background:transparent;
      box-shadow: none;
      font-family: Cabin-Regular;
      color: #979797;
      line-height: 35px;
      padding-bottom: 0px;




}
.about-box{
  border:1px solid #979797;
}
.contact-footer{
  position: relative;}

